USE [master]
GO
/****** Object:  Database [CarSalesDB]    Script Date: 8/09/2013 10:42:40 AM ******/
CREATE DATABASE [CarSalesDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CarSalesDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\CarSalesDB.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'CarSalesDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\CarSalesDB_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CarSalesDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CarSalesDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_Account_Insert]    Script Date: 8/09/2013 10:42:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Account_Insert]

(
	@accountID int  output ,	
	@username varchar(50),
	@password varchar (50),	
	@role varchar (50),
	@dateCreated date,
	@isActive bit
)
AS
BEGIN
	INSERT INTO [CarSalesDB].[dbo].[Accounts]
           ([Username]
           ,[Password]            
           ,[Role]
           ,[DateCreated]
           ,[IsActive])
           
     VALUES
           (@username
           ,@password           
           ,@role
           ,@dateCreated,
            @isActive)
           
           
        SET @accountID = @@IDENTITY   
         
END

GO
/****** Object:  StoredProcedure [dbo].[sp_Accounts_CountAllAccounts]    Script Date: 8/09/2013 10:42:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Accounts_CountAllAccounts] 
	
AS
BEGIN
	
	SELECT (AccountID) FROM dbo.Accounts
END

GO
/****** Object:  StoredProcedure [dbo].[sp_Accounts_SelectAccountByUsername]    Script Date: 8/09/2013 10:42:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Accounts_SelectAccountByUsername]
(
@username varchar(50)
)
AS
BEGIN
	SELECT * FROM Accounts WHERE Username = @username 
END

GO
/****** Object:  StoredProcedure [dbo].[sp_Car_SelectAccountIdByCarID]    Script Date: 8/09/2013 10:42:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Car_SelectAccountIdByCarID]
	(
	@CarID int
	)
AS
BEGIN
	
	SELECT AccountID FROM Cars WHERE CarID = @CarID
END

GO
/****** Object:  StoredProcedure [dbo].[sp_Cars_BodyTypeDataSource]    Script Date: 8/09/2013 10:42:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Cars_BodyTypeDataSource]
	
AS
BEGIN
	
	SELECT DISTINCT [Type] FROM Cars
END

GO
/****** Object:  StoredProcedure [dbo].[sp_Cars_CountAllCars]    Script Date: 8/09/2013 10:42:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Cars_CountAllCars]
	
AS
BEGIN
	
	SELECT (CarID) FROM Cars
	END

GO
/****** Object:  StoredProcedure [dbo].[sp_Cars_Insert]    Script Date: 8/09/2013 10:42:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Cars_Insert]

(
@carID int output,
@type varchar(50),
@make varchar(50),
@model varchar(50),
@year varchar(50),
@color varchar(50),
@killometers varchar(50),
@transmission varchar(50),
@condition varchar(50),
@price money,
@location varchar(50),
@linkToFile varchar(50),
@accountID int
)
	
AS
BEGIN
INSERT INTO [CarSalesDB].[dbo].[Cars]
           (
            [Type]
           ,[Make]
           ,[Model]
           ,[Year]
           ,[Color]
           ,[Killometers]
           ,[Transmission]
           ,[Condition]
           ,[Price]
           ,[Location],
           [LinkToFile],
           [AccountID]
            )
           
     VALUES
           (@type
           ,@make
           ,@model
           ,@year
           ,@color
           ,@killometers
           ,@transmission
           ,@condition
           ,@price
           ,@location,
           @linkToFile,
           @accountID
           )
           
       SET @carID = @@IDENTITY  
END

GO
/****** Object:  StoredProcedure [dbo].[sp_Cars_Make]    Script Date: 8/09/2013 10:42:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Cars_Make]
	
AS
BEGIN
	
	SELECT DISTINCT Make FROM Cars
END

GO
/****** Object:  StoredProcedure [dbo].[sp_Cars_ModelDataSource]    Script Date: 8/09/2013 10:42:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Cars_ModelDataSource] 
	(
	@Make varchar(50)
	)
AS
BEGIN
	
	SELECT DISTINCT model FROM Cars WHERE Make =@Make
END

GO
/****** Object:  StoredProcedure [dbo].[sp_Cars_MultipleSearch]    Script Date: 8/09/2013 10:42:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_Cars_MultipleSearch]
	@Make varchar(50) =null,
	@Model varchar(50) =null,
	@PriceMin float = null,
	@PriceMax float = null,
	@Location varchar(50) = null,
	@Type varchar(50) = null
	
	
AS
BEGIN
SELECT	* FROM	Cars
WHERE

  (@Make IS NULL OR Make=@Make)
  AND (@Model IS NULL OR Model =@Model)
 AND (@PriceMin IS NULL OR Price>=@PriceMin)
 AND (@PriceMax IS NULL OR Price<=@PriceMax)
 AND (@Location IS NULL OR Location=@Location)
 AND (@Type IS NULL OR Type=@Type)
 END

GO
/****** Object:  StoredProcedure [dbo].[sp_Cars_SearchByMake]    Script Date: 8/09/2013 10:42:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Cars_SearchByMake] 
	(
	@make varchar(50)
	)
AS
BEGIN
	SELECT 
	   [CarID]
      ,[Type]
      ,[Make]
      ,[Model]
      ,[Year]
      ,[Color]
      ,[Killometers]
      ,[Transmission]
      ,[Condition]
      ,[Price]
      ,[Location]
      ,[LinkToFile]
      
  FROM [CarSalesDB].[dbo].[Cars]

	WHERE Make = @make

END

GO
/****** Object:  StoredProcedure [dbo].[sp_Cars_SearchByMake1]    Script Date: 8/09/2013 10:42:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Cars_SearchByMake1]
(
@make varchar(50)
)
AS
BEGIN
	SELECT     Links.LinkToFile, Cars.Type, Cars.Make, Cars.Model, Cars.Year, Cars.Color, Cars.Killometers, Cars.Transmission, Cars.Condition, Cars.Price, Cars.Location
FROM         Links INNER JOIN
                      Cars ON Links.CarID = Cars.CarID
                      WHERE Make= @make
END

GO
/****** Object:  StoredProcedure [dbo].[sp_Cars_SearchByType]    Script Date: 8/09/2013 10:42:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Cars_SearchByType] 
	(
	@type varchar(50)
	)
AS
BEGIN
	SELECT 
	   [CarID]
      ,[Type]
      ,[Make]
      ,[Model]
      ,[Year]
      ,[Color]
      ,[Killometers]
      ,[Transmission]
      ,[Condition]
      ,[Price]
      ,[Location]
      
  FROM [CarSalesDB].[dbo].[Cars]

	WHERE [Type] = @type

END

GO
/****** Object:  StoredProcedure [dbo].[sp_Cars_SelectAllCars]    Script Date: 8/09/2013 10:42:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Cars_SelectAllCars] 
	
AS
BEGIN
	
	SELECT * FROM Cars
END

GO
/****** Object:  StoredProcedure [dbo].[sp_Cars_SelectCarByAccountID]    Script Date: 8/09/2013 10:42:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Cars_SelectCarByAccountID] 
	(
	@AccountID int
	)
AS
BEGIN
	
	SELECT * FROM Cars WHERE AccountID = @AccountID
END

GO
/****** Object:  StoredProcedure [dbo].[sp_Cars_SelectCarByID]    Script Date: 8/09/2013 10:42:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Cars_SelectCarByID]
	(@carID int)
AS
BEGIN
	SELECT *
	FROM Cars
	WHERE CarID = @carID
END

GO
/****** Object:  StoredProcedure [dbo].[sp_Cars_SelectNewCars]    Script Date: 8/09/2013 10:42:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Cars_SelectNewCars]
	(
	@condition varchar(50)
	)
AS
BEGIN
	
	SELECT* FROM Cars WHERE Condition = @condition
END

GO
/****** Object:  StoredProcedure [dbo].[sp_Cars_UpdateCar]    Script Date: 8/09/2013 10:42:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Cars_UpdateCar]

(
@carID int ,
@type varchar(50),
@make varchar(50),
@model varchar(50),
@year varchar(50),
@color varchar(50),
@killometers varchar(50),
@transmission varchar(50),
@condition varchar(50),
@price money
)
	
AS
BEGIN
UPDATE Cars
SET
			 
            [Type]=@type
           ,[Make]=@make
           ,[Model]=@model
           ,[Year]=@year
           ,[Color]=@color
           ,[Killometers]=@killometers
           ,[Transmission]=@transmission
           ,[Condition]=@condition
           ,[Price]=@price           
           
       WHERE CarID=@carID
END

GO
/****** Object:  StoredProcedure [dbo].[sp_Customer_SelectCustomerByID]    Script Date: 8/09/2013 10:42:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Customer_SelectCustomerByID]
(
	@accountID int
)	
	
AS
BEGIN
	SELECT * FROM Customers WHERE AccountID = @accountID
END

GO
/****** Object:  StoredProcedure [dbo].[sp_Customers_Insert]    Script Date: 8/09/2013 10:42:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Customers_Insert]

(
@accountID int,
@email varchar(50)
)

AS
BEGIN
	INSERT INTO [CarSalesDB].[dbo].[Customers]
	       (
           [AccountID]
           ,[Email]
           )
           
     VALUES
     
           (
           @accountID,
           @email
           )
           
END

GO
/****** Object:  StoredProcedure [dbo].[sp_Customers_SelectAllCustomers]    Script Date: 8/09/2013 10:42:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Customers_SelectAllCustomers]
	
AS
BEGIN
	
	SELECT * FROM Customers
END

GO
/****** Object:  StoredProcedure [dbo].[sp_Customers_Update]    Script Date: 8/09/2013 10:42:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Customers_Update]
(
@accountID int,
@firstName varchar(50),
@lastName varchar(50),
@email varchar(50),
@Address varchar(50),
@city varchar(50),
@state varchar(50),
@postcode varchar(50),
@phone varchar(50)
)
	
AS
BEGIN
	UPDATE [CarSalesDB].[dbo].[Customers]
	
   SET [AccountID] = @accountID      
      ,[FirstName] = @firstName
      ,[LastName] = @lastName
      ,[Email] = @email
      ,[Address] = @Address
      ,[City] = @city
      ,[State] = @state
      ,[Postcode] = @postcode
      ,[Phone] = @phone
      
 WHERE AccountID =@accountID

END

GO
/****** Object:  StoredProcedure [dbo].[sp_Links_InsertPhoto]    Script Date: 8/09/2013 10:42:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Links_InsertPhoto]
	
	(
	@carID int,
	@linkToFile varchar(50)
	)
AS
BEGIN

INSERT INTO Links ([LinkToFile], [CarID]) VALUES  (@linkToFile, @carID)
END

GO
/****** Object:  StoredProcedure [dbo].[sp_Links_SelectByCarID]    Script Date: 8/09/2013 10:42:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Links_SelectByCarID]
	(
	@carID int
	)
AS
BEGIN
	SELECT * FROM Links WHERE CarID = @carID
END

GO
/****** Object:  StoredProcedure [dbo].[sp_Links_SelectPhotos]    Script Date: 8/09/2013 10:42:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Links_SelectPhotos]
	(
	@carID int
	)
AS
BEGIN
	
	SELECT LinkToFile FROM Links WHERE CarID=@carID
END

GO
/****** Object:  StoredProcedure [dbo].[sp_OrderDetails_Insert]    Script Date: 8/09/2013 10:42:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_OrderDetails_Insert]
	(
	@OrderNo int,
	@CarID int,	
	@Price Float
	)
	
AS
BEGIN
	INSERT INTO [CarSalesDB].[dbo].[OrderDetails]
           ([OrderNo]
           ,[CarID]
           ,[Price])
     VALUES
           (@OrderNo,
			@CarID,
			@Price)
END

GO
/****** Object:  StoredProcedure [dbo].[sp_Orders_CountAllOrders]    Script Date: 8/09/2013 10:42:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Orders_CountAllOrders]
	
AS
BEGIN
	
	SELECT OrderNo FROM dbo.Orders
END

GO
/****** Object:  StoredProcedure [dbo].[sp_Orders_Insert]    Script Date: 8/09/2013 10:42:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Orders_Insert]
	(
	@OrderNo int OUTPUT,
	@AccountID int,
	@DateTime DateTime,
	@Total Float,
	@Status varchar
	)
	
AS
BEGIN
	INSERT INTO [CarSalesDB].[dbo].[Orders]
           ([AccountID]
           ,[DateTime]
           ,[Total]           
           ,[Status])
     VALUES
           (@AccountID,
			@DateTime,
			@Total,          
			@Status)
			
			SET @OrderNo = @@IDENTITY   
         

END

GO
/****** Object:  StoredProcedure [dbo].[sp_Orders_SelectAllOrders]    Script Date: 8/09/2013 10:42:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Orders_SelectAllOrders]
	
AS
BEGIN
	
	SELECT    * FROM Orders
END

GO
/****** Object:  StoredProcedure [dbo].[sp_Orders_ShowUserOrders]    Script Date: 8/09/2013 10:42:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Orders_ShowUserOrders]

(
@username varchar(50)
)

AS
BEGIN
	SELECT     *
FROM         OrderDetails INNER JOIN
                      Cars ON OrderDetails.CarID = Cars.CarID INNER JOIN
                      Orders ON OrderDetails.OrderNo = Orders.OrderNo INNER JOIN
                      Accounts INNER JOIN
                      Customers ON Accounts.AccountID = Customers.AccountID ON Orders.AccountID = Customers.AccountID
                      
                      WHERE Username = @username
END

GO
/****** Object:  StoredProcedure [dbo].[sp_selectCarsWithPhotos]    Script Date: 8/09/2013 10:42:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_selectCarsWithPhotos]
	(
	@carID int,
	@make varchar(50)
	)
AS
BEGIN
	SELECT     Cars.CarID, Cars.Type, Cars.Make, Cars.Model, Cars.Year, Cars.Color, Cars.Killometers, Cars.Transmission, Cars.Condition, Cars.Price, Cars.Location, 
                      Links.LinkToFile
FROM         Cars INNER JOIN
                      Links ON Cars.CarID = Links.CarID
                      
                      WHERE Cars.CarID = @carID
                      
END

GO
/****** Object:  Table [dbo].[Accounts]    Script Date: 8/09/2013 10:42:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Accounts](
	[AccountID] [int] IDENTITY(1,1) NOT NULL,
	[Role] [varchar](50) NULL,
	[Username] [varchar](50) NULL,
	[Password] [varchar](50) NULL,
	[DateCreated] [date] NULL,
	[IsActive] [bit] NULL,
 CONSTRAINT [PK_Accounts] PRIMARY KEY CLUSTERED 
(
	[AccountID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Cars]    Script Date: 8/09/2013 10:42:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Cars](
	[CarID] [int] IDENTITY(1,1) NOT NULL,
	[AccountID] [int] NULL,
	[Type] [varchar](50) NULL,
	[Make] [varchar](50) NULL,
	[Model] [varchar](50) NULL,
	[Year] [varchar](50) NULL,
	[Color] [varchar](50) NULL,
	[Killometers] [varchar](50) NULL,
	[Transmission] [varchar](50) NULL,
	[Condition] [varchar](50) NULL,
	[Price] [money] NULL,
	[Location] [varchar](50) NULL,
	[LinkToFile] [varchar](50) NULL,
 CONSTRAINT [PK_Cars] PRIMARY KEY CLUSTERED 
(
	[CarID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 8/09/2013 10:42:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Customers](
	[AccountID] [int] NOT NULL,
	[FirstName] [varchar](50) NULL,
	[LastName] [varchar](50) NULL,
	[Email] [varchar](50) NOT NULL,
	[Address] [varchar](50) NULL,
	[City] [varchar](50) NULL,
	[State] [varchar](50) NULL,
	[Postcode] [varchar](50) NULL,
	[Phone] [varchar](50) NULL,
 CONSTRAINT [PK_Customers] PRIMARY KEY CLUSTERED 
(
	[AccountID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Links]    Script Date: 8/09/2013 10:42:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Links](
	[PhotoID] [int] IDENTITY(1,1) NOT NULL,
	[LinkToFile] [varchar](50) NULL,
	[CarID] [int] NULL,
 CONSTRAINT [PK_Links] PRIMARY KEY CLUSTERED 
(
	[PhotoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[OrderDetails]    Script Date: 8/09/2013 10:42:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetails](
	[OrderNo] [int] NULL,
	[CarID] [int] NULL,
	[Price] [money] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Orders]    Script Date: 8/09/2013 10:42:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Orders](
	[OrderNo] [int] IDENTITY(1,1) NOT NULL,
	[AccountID] [int] NULL,
	[DateTime] [datetime] NULL,
	[Total] [money] NULL,
	[Status] [varchar](50) NULL,
 CONSTRAINT [PK_Orders] PRIMARY KEY CLUSTERED 
(
	[OrderNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Accounts] ON 

INSERT [dbo].[Accounts] ([AccountID], [Role], [Username], [Password], [DateCreated], [IsActive]) VALUES (1, N'Admin', N'Omar', N'omar', CAST(0x32360B00 AS Date), 1)
INSERT [dbo].[Accounts] ([AccountID], [Role], [Username], [Password], [DateCreated], [IsActive]) VALUES (2, N'User', N'Jess', N'jess', CAST(0x32360B00 AS Date), 0)
INSERT [dbo].[Accounts] ([AccountID], [Role], [Username], [Password], [DateCreated], [IsActive]) VALUES (3, N'user', N'Ahmed', N'ahmed', CAST(0x32360B00 AS Date), 1)
SET IDENTITY_INSERT [dbo].[Accounts] OFF
SET IDENTITY_INSERT [dbo].[Cars] ON 

INSERT [dbo].[Cars] ([CarID], [AccountID], [Type], [Make], [Model], [Year], [Color], [Killometers], [Transmission], [Condition], [Price], [Location], [LinkToFile]) VALUES (59, 2, N'HatchBack', N'Audi', N'A3', N'2012', N'White', N'0', N'Manual', N'New', 65000.0000, N'NSW', N'~/Photos/imagesCA0S41LV.jpg')
INSERT [dbo].[Cars] ([CarID], [AccountID], [Type], [Make], [Model], [Year], [Color], [Killometers], [Transmission], [Condition], [Price], [Location], [LinkToFile]) VALUES (60, 3, N'Convertible', N'Audi', N'A3', N'2012', N'White', N'7000', N'Manual', N'SecondHand', 65000.0000, N'VIC', N'~/Photos/imagesCAA062SA.jpg')
INSERT [dbo].[Cars] ([CarID], [AccountID], [Type], [Make], [Model], [Year], [Color], [Killometers], [Transmission], [Condition], [Price], [Location], [LinkToFile]) VALUES (61, 4, N'HatchBack', N'Audi', N'A1', N'2012', N'White', N'0', N'Auto', N'New', 45000.0000, N'NSW', N'~/Photos/2.png')
SET IDENTITY_INSERT [dbo].[Cars] OFF
INSERT [dbo].[Customers] ([AccountID], [FirstName], [LastName], [Email], [Address], [City], [State], [Postcode], [Phone]) VALUES (1, N'Omar', N'Zikri', N'zikri24@gmail.com', N'Anzac Parade', N'Maroubra', N'NSW', N'20111', N'0406464857')
INSERT [dbo].[Customers] ([AccountID], [FirstName], [LastName], [Email], [Address], [City], [State], [Postcode], [Phone]) VALUES (2, N'Jessica', N'NG', N'jess@hotmail.com', N'Anzac Parade', N'Maroubra', N'NSW', N'2032', N'0415151919')
INSERT [dbo].[Customers] ([AccountID], [FirstName], [LastName], [Email], [Address], [City], [State], [Postcode], [Phone]) VALUES (3, N'Ahmed Zikri', N'Zikri', N'ahmed@gmail.com', N'Botany Street', N'Kingsford', N'NSW', N'2032', N'0406464857')
SET IDENTITY_INSERT [dbo].[Links] ON 

INSERT [dbo].[Links] ([PhotoID], [LinkToFile], [CarID]) VALUES (1, N'Hello', NULL)
INSERT [dbo].[Links] ([PhotoID], [LinkToFile], [CarID]) VALUES (2, N'Test', NULL)
INSERT [dbo].[Links] ([PhotoID], [LinkToFile], [CarID]) VALUES (3, N'Test', NULL)
SET IDENTITY_INSERT [dbo].[Links] OFF
INSERT [dbo].[OrderDetails] ([OrderNo], [CarID], [Price]) VALUES (12, 61, 45000.0000)
INSERT [dbo].[OrderDetails] ([OrderNo], [CarID], [Price]) VALUES (15, 59, 65000.0000)
INSERT [dbo].[OrderDetails] ([OrderNo], [CarID], [Price]) VALUES (16, 62, 4000.0000)
SET IDENTITY_INSERT [dbo].[Orders] ON 

INSERT [dbo].[Orders] ([OrderNo], [AccountID], [DateTime], [Total], [Status]) VALUES (12, 9, CAST(0x0000A10E0008CB83 AS DateTime), 45000.0000, N'S')
INSERT [dbo].[Orders] ([OrderNo], [AccountID], [DateTime], [Total], [Status]) VALUES (13, 9, CAST(0x0000A10E000A3ACF AS DateTime), 65000.0000, N'S')
INSERT [dbo].[Orders] ([OrderNo], [AccountID], [DateTime], [Total], [Status]) VALUES (14, 2, CAST(0x0000A10E001085DB AS DateTime), 65000.0000, N'S')
SET IDENTITY_INSERT [dbo].[Orders] OFF
ALTER TABLE [dbo].[Customers]  WITH CHECK ADD  CONSTRAINT [FK_Customers_Accounts] FOREIGN KEY([AccountID])
REFERENCES [dbo].[Accounts] ([AccountID])
GO
ALTER TABLE [dbo].[Customers] CHECK CONSTRAINT [FK_Customers_Accounts]
GO
ALTER TABLE [dbo].[Links]  WITH CHECK ADD  CONSTRAINT [FK_Links_Cars1] FOREIGN KEY([CarID])
REFERENCES [dbo].[Cars] ([CarID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Links] CHECK CONSTRAINT [FK_Links_Cars1]
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetails_Cars1] FOREIGN KEY([CarID])
REFERENCES [dbo].[Cars] ([CarID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OrderDetails] CHECK CONSTRAINT [FK_OrderDetails_Cars1]
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetails_Orders] FOREIGN KEY([OrderNo])
REFERENCES [dbo].[Orders] ([OrderNo])
GO
ALTER TABLE [dbo].[OrderDetails] CHECK CONSTRAINT [FK_OrderDetails_Orders]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Customers1] FOREIGN KEY([AccountID])
REFERENCES [dbo].[Customers] ([AccountID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Customers1]
GO
USE [master]
GO
