<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
        <siteMap>
            <providers>
                <add siteMapFile="Web.sitemap" name="Admin" type="System.Web.XmlSiteMapProvider"></add>
                <add siteMapFile="User.sitemap" name="User" type="System.Web.XmlSiteMapProvider"></add>
            </providers>
        </siteMap>
        <pages styleSheetTheme="Blue" ></pages>

     
      
      
    </system.web>
  <connectionStrings>
    <add name="CarSalesDB" connectionString="Data Source=OMAR;Initial Catalog=CarSalesDB;Persist Security Info=True;User ID=sa;Password=30919823" />
    <add name="Tafe" connectionString="Data Source=PEA106-02;Initial Catalog=CarSalesDB;User ID=sa;Password=Petersham" />
    <add name="CarSalesDBConnectionString" connectionString="Data Source=OMAR;Initial Catalog=CarSalesDB;User ID=sa;Password=30919823"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  
</configuration>
